<mat-card style="width: 50%; margin-top: 1rem; margin-left: 2rem;">
  <mat-accordion *ngIf="etudiants.length > 0" multi="true">
    <mat-expansion-panel *ngFor="let e of etudiants">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Etudiant &nbsp;<b> {{ e.prenom }}</b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary">EDIT</button>
        <button mat-raised-button color="warn">DELETE</button>
        <button mat-raised-button color="accent" [routerLink]="['/etudiantDetail', e.prenom]">DETAILS</button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

<p class="mat-body-1" *ngIf="etudiants.length <= 0"><br>pas d'etudiants inscrits</p>
