<!-- <mat-card style="width: 50%; margin-top: 1rem; margin-left: 2rem;">
  <mat-card-title>Ajout Etudiant</mat-card-title>

  <form (ngSubmit)="addEtudiant(etudiantForm)" #etudiantForm="ngForm">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Etudiant Name</mat-label>
      <input matInput type="text" name="etdName" id="etdName" required minlength="3" #nomEtudiant="ngModel" ngModel>
      <mat-error *ngIf="nomEtudiant.errors?.['required']">
        You must provide a<strong> student name</strong>
      </mat-error>
      <mat-error *ngIf="nomEtudiant.errors?.['minlength']">
        Etudiant Name must be at least <strong> 3 characters long.</strong>
      </mat-error>
    </mat-form-field>
    <div *ngIf="nomEtudiant.invalid && (nomEtudiant.dirty || nomEtudiant.touched)"
      class="mat-body-1">
      <div *ngIf="nomEtudiant.errors?.['required']"> Etudiant Name is required. </div>
      <div *ngIf="nomEtudiant.errors?.['minlength']"> Etudiant Name must be at least 3 characters long. </div>
   </div>
   <br>

    <button mat-raised-button color="primary"
            type="submit">Add</button>
  </form>

</mat-card> -->


<!-- <mat-card style="width: 50%; margin-top: 1rem; margin-left: 2rem;">
  <mat-card-title>Ajout Etudiant</mat-card-title>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Etudiant Name</mat-label>
    <input matInput #nomEtudiant>
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary"
          (click)="addEtudiant(nomEtudiant)">Add</button>

</mat-card> -->


<mat-card style="width: 50%; margin-top: 1rem; margin-left: 2rem;">
  <mat-card-title>Ajout Etudiant</mat-card-title>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Etudiant Name</mat-label>
    <input matInput #nomEtudiant>
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary"
          (click)="addEtudiant(nomEtudiant)">Add</button>

</mat-card>
